/* MyCalendar.css */

/* MyCalendar.css */

/* MyCalendar.css */

#calendar-container {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with 70% opacity */
    color: white; /* White text color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* White box shadow with 20% opacity */
    margin-bottom: 20px;
  }
  
  .calendar-header {
    text-align: center;
    margin-bottom: 10px;
  }
  