
  
/* SlideShow.css */
.MainSlideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
  }
  
  .slider-container {
    /* Remove fixed width and height */
    width: 800px;
    height: 800px; 
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
  }
  
  
  .imageSlides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
  }
  
  /* Style the previous button */
  /* Small devices (phones) */
@media only screen and (max-width: 767px) {
  /* Styles for small devices */
  .slider-container {
    
    height: auto;
}

.MainSlideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  /* margin: 40px; */
  padding: 10px;
  margin: auto;
}


.bioContainerStyle {
   display: block
  
}

}


/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium devices */
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {
  /* Styles for large devices */
}

  
 